<!doctype html>
<html>
  <head>
    <title><%= @name %></title>
  </head>
  <body>
    <h2><%= @name %></h2>
    <div id="bio">
      <p>Email: <%= @email %></p>
      <p>Interests: <%= format_interests(@interests) %></p>
    </div>
  </body>
</html>